.input-group {
    display: flex;
    align-items: center;
    background-color: green;
}

.input-group-text {
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.form-control {
    flex: 1;
    min-width: 0;
}
