/* Crear Cuenta css */


.home_section{
    width: 400px; /* Ajusta el ancho */
    padding: 5px; /* Ajusta el relleno interno */
    font-size: 25px; /* Ajusta el tamaño de la fuente */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin-left: 40%;
}
.home_section span {
    font-size: 16px;
    position: absolute;
    top: 165px;
    left: 640px;
}

.home_section .home_input{
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 125px;
    box-sizing: border-box;

} 

.home_section2{
    width: 400px; /* Ajusta el ancho */
    padding: 5px; /* Ajusta el relleno interno */
    font-size: 25px; /* Ajusta el tamaño de la fuente */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    margin-left: 40%;
}
.home_section2 span {
    font-size: 16px;
    position: absolute;
    top: 165px;
    left: 640px;
}

.home_section2 .home_input2{
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 80px;
    box-sizing: border-box;

}



.input-group {
    display: flex;
    align-items: center;
    background-color: green;
}

.input-group-text {
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.form-control {
    flex: 1;
    min-width: 0;
}


