

/* Nosotros Style */ 

.Container {
  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;
}


.Container h1{
  color: green;
}

.about1 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

}


.about2 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

} 

.about3 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

} 

.about4 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

}








@media screen and (min-width: 1024px) {
    .custom-nav {
      display: flex; /* Convierte el contenedor en un contenedor flex */
      justify-content: flex-end; /* Alinea los elementos al final del contenedor */
      margin: 0; /* Elimina márgenes adicionales */
      padding: 0; /* Elimina padding si es necesario */
    }
  
    .custom-nav a {
      text-align: left; /* Alinea el texto a la izquierda dentro de los enlaces */
      position: relative; /* Establece el contexto para el posicionamiento relativo */
      left: 1000px; /* Mueve el enlace 1000px a la derecha desde su posición original */
    }
  
    .custom-nav .nav-item {
      margin-right: 15px; /* Ajusta el espaciado entre los elementos */
    }
  
    .custom-nav .nav-item:last-child {
      margin-right: 0; /* Opcional: elimina el margen derecho en el último ítem */
    }
  }
  

