* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el box-sizing esté configurado correctamente */
}

/* Menu style */ 

.navbar-brand{
  margin-left: 150px;
}

.navbar {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta el box-shadow */
  background-color: aquamarine;
  padding: 0; /* Elimina el relleno de la navbar */
  width: 100%; /* Asegura que la navbar ocupe todo el ancho del contenedor */
  overflow: hidden; /* Asegura que no haya desbordamientos */
} 


.navbar-nav  {
  margin-right: 80px; /* Ajusta el margen izquierdo de los enlaces para reducir el espacio */
}

.navbar-nav a {
  margin-left: 15px; /* Ajusta el margen izquierdo de los enlaces para reducir el espacio */
}

.navbar-nav .nav-item {
  margin-right: 30px; /* Ajusta el espaciado entre los elementos */
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-nav  {
    margin-right: 50px; /* Ajusta el margen izquierdo de los enlaces para reducir el espacio */
  }
  .navbar-brand {
    margin-left: 0; /* Ajusta el margen en dispositivos pequeños */
  }

  .custom-nav {
    margin-left: 0; /* Elimina el margen izquierdo para dispositivos pequeños */
  }

  .custom-nav .nav-item {
    margin-right: 0; /* Elimina el margen derecho para dispositivos pequeños */
  }

  .navbar {
    padding: 10px; /* Agrega un poco de padding para dispositivos pequeños */
  }
}
  
  
  



/* Nosotros Style */ 

.Container {
  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 48vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;
}


.Container h1{
  color: green;
}

.about1 h3{
  color: rgb(3, 117, 3);
}

.about2 h3{
  color: rgb(3, 117, 3);
}

.about3 h3{
  color: rgb(3, 117, 3);
}

.about4 h3{
  color: rgb(3, 117, 3);
}

.about1 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 30vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;
  display: grid;

}


.about2 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 30vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

} 

.about3 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 30vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

} 

.about4 {

  background-color: rgb(250, 248, 248);
  border-radius: 15px;
  width: 30vw;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
  text-align: center;
  margin: 0 auto; /* Esto centra el contenedor horizontalmente */
  padding: 10px; 
  margin-top: 100px;

}


   /* Responsive */

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    width: 30vw;
    /* align-items: start; */
  }
}

@media screen and (min-width: 375px) {
  .list {
    width: 80vw;
    /* align-items: start; */
  }
}








